In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
col_names = ['Size', 'Bedrooms', 'Price']
df = pd.read_csv('housing.txt', names=col_names)

In [5]:
df.head()

   Size  Bedrooms   Price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900

In [7]:
df.shape

(47, 3)

In [8]:
X = df.iloc[:,0:2].values
Y = df.iloc[:,2].values

In [9]:
X.shape

(47, 2)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [12]:
y_test_pred = model.predict(X_test)

In [14]:
print("Predicted labels: ", y_test_pred[0:4])
print("Actual labels: ", Y_test[0:4])

Predicted labels:  [365977.65478565 489446.70649556 322978.95632163 466823.64642005]
Actual labels:  [475000 579900 349900 539900]

In [ ]:
accuracy = model.score(X_test, Y_test)
print("Model accuracy: ",(accuracy))