In [2]:
from sklearn.metrics import accuracy_score
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

#shows visualization in line -> replaces plt.show
%matplotlib inline

In [3]:
dt = pd.read_csv('https://tinyurl.com/y3o6lt5g')

print("Shape: ", dt.shape)
dt.head()

Shape:  (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
sex = pd.get_dummies(dt["Sex"], drop_first=True)
embarked = pd.get_dummies(dt["Embarked"], drop_first=True)
pclass = pd.get_dummies(dt["Pclass"], drop_first=True)

print(sex[0:5], "\n")
print(embarked[0:5], "\n")
print(pclass[0:5], "\n")

   male
0     1
1     0
2     0
3     0
4     1

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

   2  3
0  0  1
1  0  0
2  0  1
3  0  0
4  0  1

In [5]:
dt = pd.concat([dt,sex, embarked, pclass],axis=1)
dt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male,Q,S,2,3
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,0,1,0,1

In [6]:
dt.drop(["PassengerId","Pclass","Name","Sex","Ticket","Embarked", "Cabin"],axis=1,inplace=True)
dt.dropna(subset=['Age'], how='any', inplace=True)
dt.head()

   Survived   Age  SibSp  Parch     Fare  male  Q  S  2  3
0         0  22.0      1      0   7.2500     1  0  1  0  1
1         1  38.0      1      0  71.2833     0  0  0  0  0
2         1  26.0      0      0   7.9250     0  0  1  0  1
3         1  35.0      1      0  53.1000     0  0  1  0  0
4         0  35.0      0      0   8.0500     1  0  1  0  1

In [7]:
X = dt.iloc[:,1:].values
y = dt["Survived"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)

In [9]:
#LogisticRegression
model = LogisticRegression(max_iter=10).fit(X_train, y_train)

In [10]:
y_test_pred = model.predict(X_test)

THRESHOLD = 0.9
preds = np.where(model.predict_proba(X_test)[:,1] > THRESHOLD, 1, 0)

print("y_test_pred: \n", y_test_pred[0:5])
print("\n")
print("y_test: \n", y_test[0:5])
print("\n")
print("preds: \n", preds[0:5])

y_test_pred:
 [0 1 1 0 0]


y_test:
 423    0
177    0
305    1
292    0
889    1
Name: Survived, dtype: int64


preds:
 [0 0 1 0 0]

In [13]:
#testing acuracy of the model
acc = model.score(X_test, y_test)
print(f"Model accuracy: \n {acc}")

print("\n")

acc1 = accuracy_score(y_test, preds)
print(f"Model accuracy1 with threshold set to 0.9: \n {acc1}")

Model accuracy:
 0.6744186046511628


Model accuracy1 with threshold set to 0.9:
 0.6139534883720931

In [12]:
x_train_scaler = StandardScaler().fit_transform(X_train)
x_test_scaler = StandardScaler().fit_transform(X_test)

print(f"x_train_scaler: \n {x_train_scaler[0:5]}")
print("\n")
print(f"x_test_scaler: \n {(X_test[0:5])}")

x_train_scaler:
 [[-0.10094896 -0.55031787 -0.49611856 -0.45097971  0.75771531 -0.20433711
   0.50062617 -0.57503623  1.00200602]
 [ 0.10654022 -0.55031787 -0.49611856 -0.43333485  0.75771531 -0.20433711
   0.50062617  1.73902086 -0.997998  ]
 [-0.10094896 -0.55031787 -0.49611856 -0.4792856  -1.31975689 -0.20433711
   0.50062617 -0.57503623  1.00200602]
 [-0.0317859   0.48204535 -0.49611856 -0.24806381  0.75771531 -0.20433711
   0.50062617  1.73902086 -0.997998  ]
 [ 2.18143204 -0.55031787 -0.49611856 -0.04830986  0.75771531 -0.20433711
   0.50062617 -0.57503623 -0.997998  ]]


x_test_scaler:
 [[ 28.       1.       1.      14.4      0.       0.       1.       0.
    1.    ]
 [ 50.       0.       0.      28.7125   0.       0.       0.       0.
    0.    ]
 [  0.92     1.       2.     151.55     1.       0.       1.       0.
    0.    ]
 [ 36.       0.       0.      12.875    1.       0.       0.       1.
    0.    ]
 [ 26.       0.       0.      30.       1.       0.       0.       0.
    0.    ]]